<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.settings.overlay.m2012k11ag">
    <application android:hasCode="false" />
    <overlay android:targetPackage="com.android.settings"
             android:requiredSystemPropertyName="ro.boot.product.hardware.sku"
             android:requiredSystemPropertyValue="pro"
             android:isStatic="true" />
</manifest>
